.form {
  display: flex;
  border-top: 2px solid #d3d3d3;
}

.input {
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 80%;
  font-size: 1.2em;
}
input::placeholder {
  color: rgba(95, 109, 96, 0.564);
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2e3238;
  padding: 20px;
  display: inline-block;
  border: none;
  border-radius: 0 0 9px 0;
  width: 20%;
  font-weight: 900;
}
